/assignment2/aclImdb/
/assignment3/data
/keras_tf/*
/keras_tf
/assignment3/__pycache__
/assignment2/data.pkl
/assignment2/data2.pkl
/assignment2/__pycache__/
assignment2/__pycache__/parser.cpython-35.pyc
